@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    left: 20%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 5%
    width: 10%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 7%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 49.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 42%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #365168
.banner-interno__titulo__icono i
    color: $color-acento-botones !important;
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white
.barra-avance__boton--regresar span 
  color: #fff !important

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.text-izq
  text-align: left !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario
.wid15
  width: 75%
.bg01 
  background-color: #FFF9F2
.bg02
  background-color: #ABAAA1
.bg03
  background-color: #C9B1A2
.bg04
  background-color: #DFC5B4
  border-radius: 20px
.bg05
  background-color: #85461A
  border-radius: 20px
.bg06
  background-color: #F9F4F0
  border-radius: 20px
.bg07
  background-color: #FDE1BE
  border-radius: 20px
.bg08
  background-color: #D9E5EF
  border-radius: 20px
.bg09
  background-color: #EFEDE4
  border-radius: 20px
.bg10
  background-color: #D9E5EF
.bg11
  background-color: #FFF9F2
  border-radius: 20px
.bg12
  background-color: #F9F7F0
.bg13
  background-color: #DFC5B4
.bg14
  background-color: #F9F4F0
.bg15
  background-color: #DFC5B4
  border-bottom-left-radius: 60px
  @media screen and (max-width: 767px)
    border-bottom-left-radius: 0px
.bg16
  background-color: #FDE1BE
  border-bottom-left-radius: 60px
  @media screen and (max-width: 767px)
    border-bottom-left-radius: 0px
.bg17
  background-color: #365168
  border-bottom-left-radius: 60px
  @media screen and (max-width: 767px)
    border-bottom-left-radius: 0px
.bg18
  background-color: #365168
.fa-angle-right2
  content: url('../assets/curso/temas/t4/aguja.svg')
  align-self: flex-start !important

.titulo-segundo:after 
  border-left-color: #85461A
.izqtext
  text-align: left !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -40px
  top: -12px
  background-color: #cbb3a5
  border-radius: 0px 0 70px 0
  min-height: 10px
  display: flex
  align-items: center
  @media screen and (max-width: 767px)
    top: 0px
.w-card-icon2
  width: min-content
  z-index: 1
.w-card-text2
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -35px
  top: 8px
  background-color: #85461A
  border-radius: 20px
  min-height: 10px
  display: flex
  align-items: center


.linea-tiempo-d.color-primario .linea-tiempo-d__item__number
  background-color: #D9E5EF !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item__content
    background-color: #D9E5EF !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #85461A !important
  color: white

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
    background-color: #FDE1BE !important


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  

/* SOLO FILA TITULO */
.crd_hover_txt .crd_hover_txt--body > div:first-child
  display: flex !important
  align-items: center !important
  flex-wrap: nowrap !important
  gap: 12px
  width: 100%

.crd_hover_txt:hover .crd_hover_txt--body
  transform: translateY(0)
  background-color: #B7BECF !important

  .rot
    transform: rotate(180deg)

.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important

/* OCULTAR PÁRRAFO CUANDO ESTÁ CERRADO */
.icono-circulo
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: #85461A
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0

.flecha
  width: 13px
  height: 13px
  border-left: 4px solid #ffff
  border-top: 4px solid #ffff
  transform: rotate(45deg)
  transition: transform 0.4s ease

.cursor-pointer.crd_hover_txt
  cursor: pointer

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important

  &:hover
    .crd_hover_txt--body
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(0)

    .flecha
      transform: rotate(225deg)

  .crd_hover_txt--body
    position: absolute
    padding: 1rem
    bottom: 0
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc(100% - 3.85rem)) // Aqui cuadro la altula del titulo gris
    background-color: #B7BECF
    border-radius: 0px

  @media (min-width:1200px) and (max-width:1400px)
    .crd_hover_txt--body
      p
        font-size: 0.85em
.fondo01
  background-image: url('../assets/curso/temas/t4/fondo.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/temas/t4/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondo03
  background-image: url('../assets/curso/temas/t4/fondo3.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo_a
  background-image: url('../assets/curso/temas/t2/2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondo_b
  background-image: url('../assets/curso/temas/t2/1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.slyder__pagination 
  display: block
  color: white

.slyder__btn 
  background-color: #85461A

.tarjeta--boton 
  background-color: #DFC5B4
  transition: background-color 0.3s ease
  &:hover
    background-color: #D9E5EF !important

.acordion__accion__btn--b
  background-color: #85461A !important
.acordion .tarjeta--azul
  background-color: #D9E5EF !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFF0DB !important
.acordion__accion__btn--a i, .acordion__accion__btn--b i 
  color: white

.tabs-a__tab   
  background-color: #FDE1BE !important
  display: block
  width: 100%
  text-align: left
  padding: 15px 20px
  border-radius: 5px
  line-height: 1.2em
  &__text
    overflow: auto
    text-overflow: initial
    text-wrap: auto
.tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #85461A !important
    color: #fff
.tarjeta.color-acento-botones--borde 
  background-color: #D9E5EF
  border: solid 4px #D9E5EF

